%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{release,{oc_erchef,"1.8.3"},[oc_erchef, syntax_tools, compiler]}.
{extended_start_script,true}.
% Do we need etc/keys? Seems that could live in omnibus?
{overlay,[{mkdir,"log/sasl"},
          {mkdir,"lib/patches"},
          {mkdir,"etc/keys"}]}.
